.site-content__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;

    .site-content__card {
        flex: 1 1 calc(33.33% - 1rem);
        max-width: 300px;
        box-sizing: border-box;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: center;
        padding: 1rem;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }

        // Text styles.
        p {
            margin: 0;
            font-size: 1rem;
            color: #333;
        }
    }

    .site-content__card-buttons-container {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }

    .site-content__card-title-container {
        .site-content__card-top-button-container {
            display: flex;
            justify-content: flex-end;
            gap: 0.2rem;
        }
    }

    .site-content__card-button {
        cursor: pointer;
        border: none;
        border-radius: 100%;
        padding: 0.3rem 0.5rem;
        transition: all 0.2s ease-in;

        &:hover {
            opacity: 0.8;
        }

        &.site-content__card-button--inactive {
            opacity: 0.5;
            background-color: #ddd;

            &:hover {
                opacity: 1;
            }
        }

        &.site-content__card-button--onhold {
            background-color: red;
        }

        &.site-content__card-button--inprogress {
            background-color: yellow;
        }

        &.site-content__card-button--completed {
            background-color: green;
        }

        &.site-content__card-button--delete,
        &.site-content__card-button--edit {
            background-color: #333;
            color: #fff;

            &:hover {
                opacity: 1;
                background-color: #000;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .site-content__card {
            flex: 1 1 100% !important;
            max-width: 100%;
            width: 100%;
            margin: 0;
        }
    }
}
